<div class="row">
  <div class="col-sm-11">
    <app-filter [filterType]='"Conference"' [filterOptions]="allConferences" (triggerFilter)="triggerFilter($event)"> </app-filter>
    <app-filter [filterType]="'Division'" [filterOptions]="divisions" (triggerFilter)="triggerFilter($event)"> </app-filter>
    
    <select #teamSelect>
      <option [value]="team.id" *ngFor="let team of teamsOptions">
        {{team.full_name}}
      </option>
    </select>
    <button class="primary" (click)="trackTeam(teamSelect.value)">Track team</button>
  </div>

</div>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team">

  </app-team-stats>
</div>
